@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gabarito:wght@500&family=Pixelify+Sans:wght@500&family=Poiret+One&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Cedarville Cursive', cursive;;
	background: orange;
}

.container{
	
	width: 90%;
	margin: auto;
	display: flex;
}

.grocery{
	width: 600px;
	min-height: 100vh;
	margin: auto;
	background: white;
	box-shadow: 10px 10px 24px 13px rgba(0, 0, 0, 0.5) 

}

.grocery h1{
	font-size: 2.5rem;
	margin-top: 1em;
}

.grocery i{
	font-size: 2rem;
	color: orange;
	cursor: pointer;
}

.grocery input{
	font-family: inherit;
	outline: 0;
	border: 0;
	border-bottom: 3px solid black;
	width: 70%;
	font-size: 1.5rem;
	
}

#allItems h2{
	margin-left: 50px;
	margin-right: 10px;
	margin-top: 15px;
	font-size: 2rem;

}

@media (max-width: 480px){
	.grocery h1{
		font-size: 2rem;
	}

	.grocery i{
		font-size: 1.5rem;
	}

	.grocery input{
		font-size: 1rem;
	}

	#allItems h2{
		margin-left: 25px;
		font-size: 1.5rem;
	}
}
