@tailwind base;
@tailwind components;
@tailwind utilities;

.gameContainer {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

.cell {
  height: 75px;
  width: 75px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}
